@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.body {background-color: #0a0a0a;}

input[type="number"] {
  -moz-appearance: textfield;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;   
}

.no-scrollbar::-webkit-scrollbar {
  display: none;        
}


.h-screen-mobile {
  height: calc(var(--vh, 1vh) * 100);
}

html, body {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

#__next {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.animated-btn {
  font-weight: bold;
  color: #4a3086;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 130.02px;
  height: 42.66px;
  border: none;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animated-btn .span-mother {
  display: flex;
  overflow: hidden;
}

.animated-btn:hover .span-mother {
  position: absolute;
}

.animated-btn:hover .span-mother span {
  transform: translateY(1.2em);
}

.animated-btn .span-mother span:nth-child(1) {
  transition: 0.2s;
}
.animated-btn .span-mother span:nth-child(2) {
  transition: 0.3s;
}
.animated-btn .span-mother span:nth-child(3) {
  transition: 0.4s;
}
.animated-btn .span-mother span:nth-child(4) {
  transition: 0.5s;
}
.animated-btn .span-mother span:nth-child(5) {
  transition: 0.6s;
}
.animated-btn .span-mother span:nth-child(6) {
  transition: 0.7s;
}

.animated-btn .span-mother2 {
  display: flex;
  position: absolute;
  overflow: hidden;
}

.animated-btn .span-mother2 span {
  transform: translateY(-1.2em);
}

.animated-btn:hover .span-mother2 span {
  transform: translateY(0);
}

.animated-btn .span-mother2 span {
  transition: 0.2s;
}
.animated-btn .span-mother2 span:nth-child(2) {
  transition: 0.3s;
}
.animated-btn .span-mother2 span:nth-child(3) {
  transition: 0.4s;
}
.animated-btn .span-mother2 span:nth-child(4) {
  transition: 0.5s;
}
.animated-btn .span-mother2 span:nth-child(5) {
  transition: 0.6s;
}
.animated-btn .span-mother2 span:nth-child(6) {
  transition: 0.7s;
}

.bg-pattern {
  --s: 119px; 
  --c1: #8b5cf6;
  --c2: #2a1c55;

  --_g: #0000 52%, var(--c1) 54% 57%, #0000 59%; 

  background: 
    radial-gradient(farthest-side at -33.33% 50%, var(--_g)) 0 calc(var(--s)/2),
    radial-gradient(farthest-side at 50% 133.33%, var(--_g)) calc(var(--s)/2) 0,
    radial-gradient(farthest-side at 133.33% 50%, var(--_g)),
    radial-gradient(farthest-side at 50% -33.33%, var(--_g)),
    var(--c2);

  background-size: calc(var(--s)/4.667) var(--s),
                   var(--s) calc(var(--s)/4.667);

  /* fade left → right */
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,1) 40%,
    rgba(0,0,0,0) 100%
  );
  mask-image: linear-gradient(
    to right,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,1) 40%,
    rgba(0,0,0,0) 100%
  );
}


.dots {
  background-image: radial-gradient(circle at 1px 1px, rgb(197, 197, 197) 1px, transparent 0);
  background-size: 4px 4px;
}